.story {
  background: #fff;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
 
  .story-contant {
      text-align: center;
    img{
        border-radius: 50%;
    }
  }
}

